
@{
    ViewBag.Title = "Index";
}

@*<section id="advertisement">

    <div class="container">

        <img src="images/shop/advertisement.jpg" alt="" />

    </div>

</section>*@

<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>O</span>FERTA</h1>
                                <h2>Paños de Cocina</h2>
                                <p>Paños de cocina de algodón con diseño estampado, hecho en Chile. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                
                                <img src="~/Content/images/layout/3102211000910_1_big.jpg"  width="350" height="300" />
           
                                @*<img src="images/home/pricing.png" class="pricing" alt="" />*@
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>O</span>FERTA</h1>
                                <h2>Tetera 12 Litros</h2>
                                <p>Tetera de 12 litros de aluminio con diseño metalico, hecho en Chile. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/layout/tetera 484x441.jpg"  width="350" height="300" />
                                @*<img src="images/home/girl2.jpg" class="girl img-responsive" alt="" />*@
                                @*<img src="images/home/pricing.png" class="pricing" alt="" />*@
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>O</span>FERTA</h1>
                                <h2>Ponchera 24 piezas</h2>
                                <p>Ponchera de 36 litros de cristal, hecho en Chile. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/layout/Ponchera 484x441.png"  width="350" height="300" />
                                @*<img src="images/home/girl3.jpg" class="girl img-responsive" alt="" />*@
                                @*<img src="images/home/pricing.png" class="pricing" alt="" />*@
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->



<section>

    <div class="container">

        <div class="row">

            <div class="col-sm-3">

                <div class="left-sidebar">

                    <h2>Categorias</h2>
                 
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        @foreach (var item in ViewBag.Categoria)
                        {
                            <div class="panel panel-default">

                                <div class="panel-heading">

                                    <h4 class="panel-title">

                                        <a data-toggle="collapse" data-parent="#accordian" href="#@item.Id_categoria">

                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>

                                            @item.Nombre_categoria

                                        </a>

                                    </h4>

                                </div>

                                <div id="@item.Id_categoria" class="panel-collapse collapse">

                                    <div class="panel-body">

                                        <ul>

                                                                                                                                    @foreach (var item2 in ViewBag.Subcategoria)
                                                                                                                                    {
                                                                                                                                        if (item.Id_categoria == item2.Id_categoria)
                                                                                                                                        {
                                                                                                                                              <li><h2>@item2.Nombre</h2></li> 
                                                                                                                                        }
                                                                                                                                    }
                                        </ul>

                                    </div>

                                </div>

                            </div>
                        }

                    </div><!--/category-productsr-->



                    @*<div class="brands_products">
                        brands_products

                        <h2>Brands</h2>

                        <div class="brands-name">

                            <ul class="nav nav-pills nav-stacked">

                                <li><a href=""> <span class="pull-right">(50)</span>Acne</a></li>

                                <li><a href=""> <span class="pull-right">(56)</span>Grüne Erde</a></li>

                                <li><a href=""> <span class="pull-right">(27)</span>Albiro</a></li>

                                <li><a href=""> <span class="pull-right">(32)</span>Ronhill</a></li>

                                <li><a href=""> <span class="pull-right">(5)</span>Oddmolly</a></li>

                                <li><a href=""> <span class="pull-right">(9)</span>Boudestijn</a></li>

                                <li><a href=""> <span class="pull-right">(4)</span>Rösch creative culture</a></li>

                            </ul>

                        </div>

                    </div>*@<!--/brands_products-->



                    <div class="price-range">
                        <!--price-range-->

                        <h2>Rango de Precios</h2>

                        <div class="well">

                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />

                            <b>$ 0</b> <b class="pull-right">$ 600</b>

                        </div>

                    </div><!--/price-range-->



                    @*<div class="shipping text-center">
                        <!--shipping-->

                        <img src="images/home/shipping.jpg" alt="" />

                    </div><!--/shipping-->*@



                </div>

            </div>



            <div class="col-sm-9 padding-right">

                <div class="features_items">
                    <!--features_items-->

                    <h2 class="title text-center">Listado Productos</h2>
                @foreach(var producto in ViewBag.Producto)
                    {
                
                    <div class="col-sm-4">

                        <div class="product-image-wrapper">

                            <div class="single-products">

                                <div class="productinfo text-center">

                                    @*<img src="images/shop/product12.jpg" alt="" />*@
                                    @if (producto.Imagen != null)
                                    {
                                        <div style="margin-left:5px;margin-right:5px;margin-top:5px;margin-bottom:5px;">
                                            <img width="225" height="300"  src="@Url.Action("GetImage", "Producto", new { producto.Id_producto})" />
                                        </div>
                                    } 
                                    <h2>@producto.Nombre</h2>
                                    <h2>$ @producto.Precio</h2>

                           
                                    @*<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>*@
                               

                                </div>

                                @*<div class="product-overlay">

                                    <div class="overlay-content">

                                        <h2>$56</h2>

                                        <p>Easy Polo Black Edition</p>

                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                    </div>

                                </div>*@

                            </div>

                            @*<div class="choose">

                                <ul class="nav nav-pills nav-justified">

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>

                                </ul>

                            </div>*@

                        </div>

                    </div>
                    }

                    @*<div class="col-sm-4">

                        <div class="product-image-wrapper">

                            <div class="single-products">

                                <div class="productinfo text-center">

                                    <img src="images/shop/product11.jpg" alt="" />

                                    <h2>$56</h2>

                                    <p>Easy Polo Black Edition</p>

                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                </div>

                                <div class="product-overlay">

                                    <div class="overlay-content">

                                        <h2>$56</h2>

                                        <p>Easy Polo Black Edition</p>

                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                    </div>

                                </div>

                            </div>

                            <div class="choose">

                                <ul class="nav nav-pills nav-justified">

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-4">

                        <div class="product-image-wrapper">

                            <div class="single-products">

                                <div class="productinfo text-center">

                                    <img src="images/shop/product10.jpg" alt="" />

                                    <h2>$56</h2>

                                    <p>Easy Polo Black Edition</p>

                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                </div>

                                <div class="product-overlay">

                                    <div class="overlay-content">

                                        <h2>$56</h2>

                                        <p>Easy Polo Black Edition</p>

                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                    </div>

                                </div>

                            </div>

                            <div class="choose">

                                <ul class="nav nav-pills nav-justified">

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-4">

                        <div class="product-image-wrapper">

                            <div class="single-products">

                                <div class="productinfo text-center">

                                    <img src="images/shop/product9.jpg" alt="" />

                                    <h2>$56</h2>

                                    <p>Easy Polo Black Edition</p>

                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                </div>

                                <div class="product-overlay">

                                    <div class="overlay-content">

                                        <h2>$56</h2>

                                        <p>Easy Polo Black Edition</p>

                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                    </div>

                                </div>

                                <img src="images/home/new.png" class="new" alt="" />

                            </div>

                            <div class="choose">

                                <ul class="nav nav-pills nav-justified">

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-4">

                        <div class="product-image-wrapper">

                            <div class="single-products">

                                <div class="productinfo text-center">

                                    <img src="images/shop/product8.jpg" alt="" />

                                    <h2>$56</h2>

                                    <p>Easy Polo Black Edition</p>

                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                </div>

                                <div class="product-overlay">

                                    <div class="overlay-content">

                                        <h2>$56</h2>

                                        <p>Easy Polo Black Edition</p>

                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                    </div>

                                </div>

                                <img src="images/home/sale.png" class="new" alt="" />

                            </div>

                            <div class="choose">

                                <ul class="nav nav-pills nav-justified">

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-4">

                        <div class="product-image-wrapper">

                            <div class="single-products">

                                <div class="productinfo text-center">

                                    <img src="images/shop/product7.jpg" alt="" />

                                    <h2>$56</h2>

                                    <p>Easy Polo Black Edition</p>

                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                </div>

                                <div class="product-overlay">

                                    <div class="overlay-content">

                                        <h2>$56</h2>

                                        <p>Easy Polo Black Edition</p>

                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                    </div>

                                </div>

                            </div>

                            <div class="choose">

                                <ul class="nav nav-pills nav-justified">

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>



                    <div class="col-sm-4">

                        <div class="product-image-wrapper">

                            <div class="single-products">

                                <div class="productinfo text-center">

                                    <img src="images/home/product6.jpg" alt="" />

                                    <h2>$56</h2>

                                    <p>Easy Polo Black Edition</p>

                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                </div>

                                <div class="product-overlay">

                                    <div class="overlay-content">

                                        <h2>$56</h2>

                                        <p>Easy Polo Black Edition</p>

                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                    </div>

                                </div>

                            </div>

                            <div class="choose">

                                <ul class="nav nav-pills nav-justified">

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>



                    <div class="col-sm-4">

                        <div class="product-image-wrapper">

                            <div class="single-products">

                                <div class="productinfo text-center">

                                    <img src="images/home/product5.jpg" alt="" />

                                    <h2>$56</h2>

                                    <p>Easy Polo Black Edition</p>

                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                </div>

                                <div class="product-overlay">

                                    <div class="overlay-content">

                                        <h2>$56</h2>

                                        <p>Easy Polo Black Edition</p>

                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                    </div>

                                </div>

                            </div>

                            <div class="choose">

                                <ul class="nav nav-pills nav-justified">

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>



                    <div class="col-sm-4">

                        <div class="product-image-wrapper">

                            <div class="single-products">

                                <div class="productinfo text-center">

                                    <img src="images/home/product4.jpg" alt="" />

                                    <h2>$56</h2>

                                    <p>Easy Polo Black Edition</p>

                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                </div>

                                <div class="product-overlay">

                                    <div class="overlay-content">

                                        <h2>$56</h2>

                                        <p>Easy Polo Black Edition</p>

                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                    </div>

                                </div>

                            </div>

                            <div class="choose">

                                <ul class="nav nav-pills nav-justified">

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>



                    <div class="col-sm-4">

                        <div class="product-image-wrapper">

                            <div class="single-products">

                                <div class="productinfo text-center">

                                    <img src="images/home/product3.jpg" alt="" />

                                    <h2>$56</h2>

                                    <p>Easy Polo Black Edition</p>

                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                </div>

                                <div class="product-overlay">

                                    <div class="overlay-content">

                                        <h2>$56</h2>

                                        <p>Easy Polo Black Edition</p>

                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                    </div>

                                </div>

                            </div>

                            <div class="choose">

                                <ul class="nav nav-pills nav-justified">

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>





                    <div class="col-sm-4">

                        <div class="product-image-wrapper">

                            <div class="single-products">

                                <div class="productinfo text-center">

                                    <img src="images/home/product2.jpg" alt="" />

                                    <h2>$56</h2>

                                    <p>Easy Polo Black Edition</p>

                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                </div>

                                <div class="product-overlay">

                                    <div class="overlay-content">

                                        <h2>$56</h2>

                                        <p>Easy Polo Black Edition</p>

                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                    </div>

                                </div>

                            </div>

                            <div class="choose">

                                <ul class="nav nav-pills nav-justified">

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>



                    <div class="col-sm-4">

                        <div class="product-image-wrapper">

                            <div class="single-products">

                                <div class="productinfo text-center">

                                    <img src="images/home/product1.jpg" alt="" />

                                    <h2>$56</h2>

                                    <p>Easy Polo Black Edition</p>

                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                </div>

                                <div class="product-overlay">

                                    <div class="overlay-content">

                                        <h2>$56</h2>

                                        <p>Easy Polo Black Edition</p>

                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                                    </div>

                                </div>

                            </div>

                            <div class="choose">

                                <ul class="nav nav-pills nav-justified">

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>

                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>*@



             

                </div><!--features_items-->
                <ul class="pagination">

                    <li class="active"><a href="">1</a></li>

                    <li><a href="">2</a></li>

                    <li><a href="">3</a></li>

                    <li><a href="">&raquo;</a></li>

                </ul>
            </div>

        </div>

    </div>

</section>
