@model IEnumerable<Proyectofinal2.Models.Menajes_db.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_subcategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.N_imagen)
        </th>
        <th></th>
    </tr>
   

@foreach (Proyectofinal2.Models.Menajes_db.Producto item in ViewBag.producto)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_subcategoria)
        </td>
        <td>
          @if (item.Imagen!= null)
          {
            <div style="float:left;margin-right:20px">
                <img width="75" height="75" src="@Url.Action("GetImage", "Producto", new { item.Id_producto})" />
            </div>
          } 
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
